<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="modelPolicies" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
      
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <modelPolicies>
       <add key="SharedApi.ConsoleModelPolicy" />
    </modelPolicies>  
</configuration>